<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img class="img-responsive logo" src="/Content/images/logo_nightpath.jpg"></a>
            </div>          
            <div class="navbar-collapse collapse navbar-bottom-btn">
                <ul class="nav navbar-nav">

                    <li><a href="~/Home/Index">
                    <input type="button" class="shadow-button button-navbar" value="Home">
                    </a></li>
                    <li><a href="~/Home/Catalog">
                        <input type="button" class="shadow-button button-navbar" value="Catalog">
                    </a></li>
                    <li><a href="~/Account/Profile">
                        <input type="button" class="shadow-button button-navbar" value="Profile">
                    </a></li>
                    <li><a href="~/Home/Points">
                        <input type="button" class="shadow-button button-navbar" value="Points">
                    </a></li>
                    <li><a href="~/Home/About">
                        <input type="button" class="shadow-button button-navbar" value="About">
                    </a></li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
