<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="row" style="height:150px;">
        <a href="~/Home/Index"><img class="img-responsive logo-background logo" src="/Content/images/logo2.png" style="position: fixed; top: 30px; left: 70px;"></a>
        <div class="col-lg-2"></div>
        <div class="navbar navbar-inverse col-lg-10" style="position: fixed; top: 50px; right: 5px;">
            <div class=" container">
                <div class="navbar-header">
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="~/Home/Index">
                                <input type="button" class="shadow-button button-navbar" value="Home">
                            </a>
                        </li>
                        <li>
                            <a href="~/Home/Catalog">
                                <input type="button" class="shadow-button button-navbar" value="Catalog">
                            </a>
                        </li>
                        <li>
                            <a href="~/Account/Profile">
                                <input type="button" class="shadow-button button-navbar" value="Profile">
                            </a>
                        </li>
                        <li>
                            <a href="~/Home/Points">
                                <input type="button" class="shadow-button button-navbar" value="Points">
                            </a>
                        </li>
                        <li>
                            <a href="~/Home/About">
                                <input type="button" class="shadow-button button-navbar" value="About">
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>

            </div>
        </div>
    </div>
    <div class="container body-content" style="position: relative; overflow-y:scroll; height:600px;">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
