    @{
    ViewBag.Title = "Catalog";
}


<div class="container">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>
    <div class="panel panel-default center-btn" style="position:fixed; width:250px;">
        <div id="searchCatalog" class="panel-body row center-btn" style="width:max;">
            <h5>Distrito</h5>
            <select>
                <option value="Aveiro">Aveiro</option>
                <option value="Lisboa">Lisboa</option>
                <option value="Porto">Porto</option>
                <option value="Viseu">Viseu</option>
                <option value="Coimbra">Coimbra</option>
                <option value="Braga">Braga</option>
                <option value="Barcelos">Barcelos</option>
                <option value="Algarve">Algarve</option>
                <option value="Evora">Evora</option>
                <option value="Cascais">Cascais</option>
                <option value="Almada">Almada</option>

            </select>
            <div>
                <h5>Rating</h5>
                <form>
                    <input type="radio" name="Rating" value="1"> 1
                    <input type="radio" name="Rating" value="2"> 2
                    <input type="radio" name="Rating" value="3"> 3
                    <input type="radio" name="Rating" value="4"> 4
                    <input type="radio" name="Rating" value="5"> 5
                </form>
                <div class="row">
                    <button type="button">Search</button>
                </div>
            </div>
        </div>

        <div class="panel-footer center-btn" style="width:max;">
            <button id="hideshow" onclick="toggle_visibility('searchCatalog');"><img id="panelbtn" src="http://www.clker.com/cliparts/8/7/Y/H/W/e/up-arrow-circle-hi.png" style="height:10px; width:10px" /></button>
        </div>
    </div>

    <script type="text/javascript">

        function toggle_visibility(hideshow) {
            var e = document.getElementById('searchCatalog');
            var b = document.getElementById('panelbtn');
            if (e.style.display == 'block') {
                e.style.display = 'none';
                if (e.style.display == 'block'){
                    b.src = 'http://www.clker.com/cliparts/8/7/Y/H/W/e/up-arrow-circle-hi.png'
                }
                else{
                    b.src = 'http://www.clker.com/cliparts/y/m/X/o/s/R/down-arrow-circle-hi.png'
                }
            }           
            else {
                e.style.display = 'block';
                if (e.style.display == 'block')
                    b.src = 'http://www.clker.com/cliparts/8/7/Y/H/W/e/up-arrow-circle-hi.png'
                else
                    b.src = 'http://www.clker.com/cliparts/y/m/X/o/s/R/down-arrow-circle-hi.png'
            }
        }
    </script>


    <div class=" container col-lg-9">
        <div class=" container center-btn col-lg-4 col-sm-6 col-xs-12">
            <label for=""></label>
            <div class="row">
                <img class="catalog_pic" src="https://upload.wikimedia.org/wikipedia/he/0/04/Guinness_logo.png">
            </div>
            @Html.ActionLink("Ver mais", "Create", "Events")
        </div>
        <div class=" container center-btn col-lg-4 col-sm-6 col-xs-12">
            <label for=""></label>
            <div class="row">
                <img class="catalog_pic" src="https://upload.wikimedia.org/wikipedia/he/0/04/Guinness_logo.png">
            </div>
            @Html.ActionLink("Ver mais", "Create", "Events")
        </div>
        <div class=" container center-btn col-lg-4 col-sm-6 col-xs-12">
            <label for=""></label>
            <div class="row">
                <img class="catalog_pic" src="https://upload.wikimedia.org/wikipedia/he/0/04/Guinness_logo.png">
            </div>
            @Html.ActionLink("Ver mais", "Create", "Events")
        </div>
        <div class=" container center-btn col-lg-4 col-sm-6 col-xs-12">
            <label for=""></label>
            <div class="row">
                <img class="catalog_pic" src="https://upload.wikimedia.org/wikipedia/he/0/04/Guinness_logo.png">
            </div>
            @Html.ActionLink("Ver mais", "Create", "Events")
        </div>
        <div class=" container center-btn col-lg-4 col-sm-6 col-xs-12">
            <label for=""></label>
            <div class="row">
                <img class="catalog_pic" src="https://upload.wikimedia.org/wikipedia/he/0/04/Guinness_logo.png">
            </div>
            @Html.ActionLink("Ver mais", "Create", "Events")
        </div>
        <div class=" container center-btn col-lg-4 col-sm-6 col-xs-12">
            <label for=""></label>
            <div class="row">
                <img class="catalog_pic" src="https://upload.wikimedia.org/wikipedia/he/0/04/Guinness_logo.png">
            </div>
            @Html.ActionLink("Ver mais", "Create", "Events")
        </div>
        <div class=" container center-btn col-lg-4 col-sm-6 col-xs-12">
            <label for=""></label>
            <div class="row">
                <img class="catalog_pic" src="https://upload.wikimedia.org/wikipedia/he/0/04/Guinness_logo.png">
            </div>
            @Html.ActionLink("Ver mais", "Create", "Events")
        </div>
        <div class=" container center-btn col-lg-4 col-sm-6 col-xs-12">
            <label for=""></label>
            <div class="row">
                <img class="catalog_pic" src="https://upload.wikimedia.org/wikipedia/he/0/04/Guinness_logo.png">
            </div>
            @Html.ActionLink("Ver mais", "Create", "Events")
        </div>
        <div class=" container center-btn col-lg-4 col-sm-6 col-xs-12">
            <label for=""></label>
            <div class="row">
                <img class="catalog_pic" src="https://upload.wikimedia.org/wikipedia/he/0/04/Guinness_logo.png">
            </div>
            @Html.ActionLink("Ver mais", "Create", "Events")
        </div>
        <div class=" container center-btn col-lg-4 col-sm-6 col-xs-12">
            <label for=""></label>
            <div class="row">
                <img class="catalog_pic" src="https://upload.wikimedia.org/wikipedia/he/0/04/Guinness_logo.png">
            </div>
            @Html.ActionLink("Ver mais", "Create", "Events")
        </div>
        <div class=" container center-btn col-lg-4 col-sm-6 col-xs-12">
            <label for=""></label>
            <div class="row">
                <img class="catalog_pic" src="https://upload.wikimedia.org/wikipedia/he/0/04/Guinness_logo.png">
            </div>
            @Html.ActionLink("Ver mais", "Create", "Events")
        </div>
        <div class=" container center-btn col-lg-4 col-sm-6 col-xs-12">
            <label for=""></label>
            <div class="row">
                <img class="catalog_pic" src="https://upload.wikimedia.org/wikipedia/he/0/04/Guinness_logo.png">
            </div>
            @Html.ActionLink("Ver mais", "Create", "Events")
        </div>
        <div class=" container center-btn col-lg-4 col-sm-6 col-xs-12">
            <label for=""></label>
            <div class="row">
                <img class="catalog_pic" src="https://upload.wikimedia.org/wikipedia/he/0/04/Guinness_logo.png">
            </div>
            @Html.ActionLink("Ver mais", "Create", "Events")
        </div>
        <div class=" container center-btn col-lg-4 col-sm-6 col-xs-12">
            <label for=""></label>
            <div class="row">
                <img class="catalog_pic" src="https://upload.wikimedia.org/wikipedia/he/0/04/Guinness_logo.png">
            </div>
            @Html.ActionLink("Ver mais", "Create", "Events")
        </div>
        <div class=" container center-btn col-lg-4 col-sm-6 col-xs-12">
            <label for=""></label>
            <div class="row">
                <img class="catalog_pic" src="https://upload.wikimedia.org/wikipedia/he/0/04/Guinness_logo.png">
            </div>
            @Html.ActionLink("Ver mais", "Create", "Events")
        </div>
        <div class=" container center-btn col-lg-4 col-sm-6 col-xs-12">
            <label for=""></label>
            <div class="row">
                <img class="catalog_pic" src="https://upload.wikimedia.org/wikipedia/he/0/04/Guinness_logo.png">
            </div>
            @Html.ActionLink("Ver mais", "Create", "Events")
        </div>
        <div class=" container center-btn col-lg-4 col-sm-6 col-xs-12">
            <label for=""></label>
            <div class="row">
                <img class="catalog_pic" src="https://upload.wikimedia.org/wikipedia/he/0/04/Guinness_logo.png">
            </div>
            @Html.ActionLink("Ver mais", "Create", "Events")
        </div>


    </div>
</div>
